<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      
      <!-- Rutas de los audios usados por el programa -->
      <add key="rutaArchivosAudio" value="C:/Users/josel/Downloads/Sonidos" />

      
      
      <!--<add key="teclaPlay" value="Enter" />
      <add key="teclaStop" value="Delete" />-->

      <add key="teclaPlay" value="Delete" />
      <add key="teclaStop" value="Insert" />

      

    </appSettings>
</configuration>